
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create your password
      </h1>
   
      <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
      data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

   <div class="govuk-form-group">
     <label for="password" class="gem-c-label govuk-label">Enter a password</label>
     <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
       It must be at least 8 characters long and must include at least one number
      </div>

     <div class="govuk-input__wrapper">
       <input name="password[first]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds"
              id="myInput" type="password"f  autocomplete="new-password" aria-describedby="hint-password">
         <button class="govuk-input__suffix" aria-controls="password" type="button" onclick="myFunction()">Show Password</button>
              <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span> 
     </div>
   </div>
 </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="Create_password">
          Re-type password
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" autocomplete="new-password">
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to create a secure password
          </span>
        </summary>
        <div class="govuk-details__text">
          A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.
        </div>
      </details>
     
      <h3 class="govuk-heading-s">Agree to our terms of use</h3>
     <p>We will collect and save your information securely. We will not share your personal information without your consent.</p>
      <p>By continuing, you confirm that you agree to our <a href="https://www.gov.uk/help/privacy-notice">privacy notice</a> and <a href="https://www.gov.uk/help/terms-conditions">terms and conditions</a>.</p>

      <a href="v2-Mobile_number.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
        

    </div>
  </div>
{% endblock %}
