
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="postcode.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Please enter your address
      </h1>
      

      <p>Postcode</p>
      <p class="govuk-body govuk-!-font-weight-bold">HI4 PPO   <a href="postcode.html">Change</a></p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Flat number
          </label>
          <input class="govuk-input govuk-input--width-4" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            House number
          </label>
          <input class="govuk-input govuk-input--width-4" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            House name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Street name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or City
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>
     </fieldset>

     <p class="govuk-body govuk-!-font-weight-bold">When did you start living here?</p>
     <div id="govuk-hint" class="govuk-hint">
      Enter the year you started living at this address, for example 2017
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Year
        </label>
        <input class="govuk-input govuk-input--width-4" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
      </div>

      <a href = "confirmation-page.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
    </div>
  </div>
{% endblock %}
