
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="check-your-details.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        We need you to answer some security questions
      </h1>

      <p>So we can confirm your identity, we’ll ask you some questions that only you should know the answers to. These will be based on information you’ve previously given to the Department of Work and Pensions.</p>
      
     
      <p>So we can confirm your identity, you may need to have the following information available:</p>
        <ul class= "govuk-list govuk-list--bullet">
        <li>details of benefits you receive
          <li>your partner’s details
          <li>past or present employment information</li>
        </li>
      </ul>
     <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Try to to answer these questions as accurately as you can. You will not be able to change your answers if you make a mistake
  </strong>       
      </div>
 <p>We will not keep your answers.</p>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How we know what questions to ask you
          </span>
        </summary>
        <div class="govuk-details__text">
         We’ll work with <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="_blank"> Department of Work and Pensions (opens in a new tab) </a>to make sure we ask you questions that only you can answer. This is because they have access to information that we can check your answers against.
        </div>
        <div class="govuk-details__text">
          Read our <a href="https://www.gov.uk/help/privacy-notice" target="_blank"> privacy notice (opens in a new tab)</a> if you’d like to know more about how the details will be used to prove your identity.
        </div>
      </details>

      <a href="kbv-one.html"><button class="govuk-button" data-module="govuk-button">
        Start
      </button></a>

    </div>
  </div>
{% endblock %}
