
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="Mobile_number.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your phone
      </h1>
      <p>We sent a code to 07789 665475.</p>
  
      <p>It might take a few minutes to arrive. The code will expire after 15 minutes.</p>
     

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
      </div>

      <p class="govuk-body"><a href="#" class="govuk-link">Request a new code if:</a></p>

     
<ul class="govuk-list govuk-list--bullet">
  <li>the code is not working or has expired, or you did not receive one</li>
  <li>you want to use a different email address</li>
</ul>

      <a href="Signed-in.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
        </li>
      </ul>

  

     

    </div>
  </div>
{% endblock %}
