
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="Email_address.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check your email
      </h1>
      <p>Enter your email address to create an account.</p>
      
      <div class="govuk-inset-text">
        We have sent an email to:
        <p class="govuk-body govuk-!-font-weight-bold">email@address.com.</p>
      </div>

      <p>The email contains a 6 digit security code.</p>
      <p>Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
      <p>Your code will expire after 15 minutes.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
      </div>

      <p class="govuk-body"><a href="#" class="govuk-link">Request a new code if:</a></p>

     
<ul class="govuk-list govuk-list--bullet">
  <li>the code is not working or has expired, or you did not receive one</li>
  <li>you want to use a different email address</li>
</ul>

<a href="Create_password.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        </li>
      </ul>

  

     

    </div>
  </div>
{% endblock %}
