
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="Signed-in.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What is your full name?
      </h1>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Full Name
        </label>
        <input class="govuk-input" id="full-name" name="name" type="text" autocomplete="name">
      </div>

      <a href = "date-of-birth.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
    </div>
  </div>
{% endblock %}
