
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create a GOV.UK account or sign in
      </h1>
      <p>You'll need:</p>
        <ul class= "govuk-list govuk-list--bullet">
        <li>an email address
          <li>a UK mobile phone number
        </li>
      </ul>
      

      <p>
        We'll only use the information you give us to make sure that you are who you say you are.
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
