
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        We need more information before we can confirm your identity
      </h1>
      <p>
        We'll ask you some security questions that only you should know the answers to.
      </p>

      <p>
        We'll only use the information you give us to make sure that you are who you say you are.
      </p>

      <a href = "create_account.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
