
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="Create_password.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter your mobile number
      </h1>
      <p>We will send a 6 digit security code to the number you give us.</p>

      <p>You must use a UK mobile phone number. (+44)</p>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="numbers">
          UK phone number
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="numbers" name="numbers" type="number"/>
      </div>

    

      <a href="Check_mobile.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        </li>
      </ul>

  

     

    </div>
  </div>
{% endblock %}
