
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You've signed in to your GOV.UK account
      </h1>

      <p>You can now continue to prove your identity.</p>
          

      <a href="full_name.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        </li>
      </ul>

  

     

    </div>
  </div>
{% endblock %}
