
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, we cannot prove your identity right now
      </h1>

      <p>This is because you did not answer some of the questions correctly.</p>
          
      <p>To keep your information safe, we cannot tell you what these questions were.</p>

      <h3 class="govuk-heading-s">What you can do</h3>

      <p>Continue to the service you were trying to use and look for other ways to prove your identity.</p>

      <a href="index.html"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
        </li>
      </ul>

  

     

    </div>
  </div>
{% endblock %}
