
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <a href="v2-check-your-details.html" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        We need you to answer some security questions
      </h1>

      <p>So we can confirm your identity, we’ll ask you some questions that only you should know the answers to. These will be based on information you’ve previously given to the Department of Work and Pensions.</p>
      
     
      <p>So we can confirm your identity, you may need to have the following information available:</p>
        <ul class= "govuk-list govuk-list--bullet">
        <li>details of benefits you receive
          <li>your partner’s details
          <li>past or present employment information</li>
        </li>
      </ul>
     <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Try to to answer these questions as accurately as you can. You will not be able to change your answers if you make a mistake
  </strong>       
      </div>
     <p>You need to get 2 out of 3 questions correct. If you do not know the answer to a question you can skip it. You can only skip one question.</p>
  <p><b>Skipping a question will result in an incorrect answer</b></p>
 <p>We will not keep your answers.</p>

      <a href="v2-kbv-one.html"><button class="govuk-button" data-module="govuk-button">
        Start
      </button></a>

    </div>
  </div>
{% endblock %}
